

<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#/home">Hitsisofta - Group 6</a>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#/home"><i class="glyphicon glyphicon-home"></i></a></li>
				<li><a href="#/stats"><i class="glyphicon glyphicon-stats"></i></a></li>
				<li><a href="#/users"><i class="glyphicon glyphicon-user"></i></a></li>
				<!--<li><a href="#/new"><i class="glyphicon glyphicon-plus"></i></a></li>
				<li><a href="#/results"><i class="glyphicon glyphicon-search"></i></a></li>
				<li><a href="#/settings"><i class="glyphicon glyphicon-cog"></i></a></li>-->
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a data-toggle="modal" data-target="#helpModal"><i class="glyphicon glyphicon-question-sign"></i></a></li>
				<li><a href="php/logout.php"><i class="glyphicon glyphicon-log-out"></i></a></li>
			</ul>
		</div>
	</div>
</nav>

<br>

<div class="container" style="margin-top:50px">

	<div class="well">
		
		<h3>Viimeisin Data:</h3>
		
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>ID:</th>
						<th>Nimi:</th>
						<th>Akku ja signaali:</th>
						<th>Arvo:</th>
						<th>Raakadata:</th>
						<th>Yksikkö:</th>
						<th>Aika:</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="x in latestData">
						<td>{{x.data.id}}</td>
						<td>{{x.sensor.label}}</td>
						<td>
							<div class="progress" style="margin-bottom:3px;">
								<div class="progress-bar {{x.data.battery < 30 ? 'progress-bar-danger' : x.data.battery < 60 ? 'progress-bar-warning' : 'progress-bar-success'}}" role="progressbar" ng-style="{width: (x.data.battery) + '%'}">
								  {{x.data.battery}} %
								</div></div>
							<div class="progress" style="margin-bottom:0px;">
								<div class="progress-bar" role="progressbar" ng-style="{width: (x.data.signal) + '%'}">
								  {{x.data.signal}} %
								</div>
							</div>
						</td>
						<td>{{x.data.plot_value}}</td>
						<td>{{x.data.raw_data}}</td>
						<td>{{x.data.plot_label}}</td>
						<td>{{x.data.time}}</td>
					</tr>
				</tbody>
			
			</table>
		</div>
	</div>
	
	<div class="well">
		
		<h3>Kaikki Sensorit:</h3>
		
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>ID:</th>
						<th>Nimi:</th>
						<th>Alaraja:</th>
						<th>Yläraja:</th>
						<th ng-hide="me.type > 1">Aseta Raja-Arvot:</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="y in sensors">
						<td class="col-md-1">{{y.id}}</td>
						<td class="col-md-5">{{y.name}}</td>
						<td class="col-md-2">{{y.min}}</td>
						<td class="col-md-2">{{y.max}}</td>
						<td ng-hide="me.type > 1" class="col-md-2"><button class="btn btn-block btn-primary" data-toggle="modal" data-target="#setMinMaxModal" ng-click="setMinMax(y.id, y.min, y.max)"><i class="glyphicon glyphicon-wrench"></i></td>
					</tr>
				</tbody>
			
			</table>
		</div>
	</div>

</div>

<!-- Change Password Modal-->
<div class="modal fade" id="setMinMaxModal" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Raja-arvojen Asetukset:</h4>
			</div>
			
			<div class="modal-body">
				<form>
					<div class="input-group">
						<span class="input-group-addon">Alaraja:</span>
						<input type="number" class="form-control" placeholder="Alaraja" ng-model="newMin">
					</div>
					
					<div class="input-group">
						<span class="input-group-addon">Yläraja:</span>
						<input type="number" class="form-control" placeholder="Yläraja" ng-model="newMax">
					</div>
				</form>
			</div>
			
			<div class="modal-footer">
				<button type="button" class="btn" data-dismiss="modal">Peruuta</button>
				<button type="button" class="btn btn-primary" ng-click="saveMinMax()">Tallenna</button>
			</div>
		</div>
	</div>
</div>