<div style="background-color:#e3e3e3;">
	<div class="container text-center">
		<h1>Group 6</h1>
	</div>
</div>

<br>

<div class="container">

	<div class="well">
	
		<div class="input-group">
			<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
			<input type="text" class="form-control" placeholder="Käyttäjätunnus" ng-model="username">
		</div>
		<br>
		<div class="input-group">
			<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
			<input type="password" class="form-control" placeholder="Salasana" ng-model="password">
		</div>
		<br>
		<button ng-click="login()" class="btn btn-block btn-primary">Kirjaudu!</button>
		<div class="alert alert-danger" ng-hide="errorOccurred"><center>{{ errorMessage }}</center></div>
	</div>
	
</div>



